  .section-title {
    padding: 2rem 0.5rem;
    font-size: 2.25em;
    color: #721c24;
  }

  .subsection-title {
    margin-top: 10px;
    font-size: 20px;
    color:gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  title {
    font-size: 6em;
  }

  .flexbox{
    display: flex;
    flex-direction: column;
    padding: 0 20% 0 0;
  }

  .page {
    min-height: 100vh;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    row-gap: 0px;
    padding: 0 0 0 15%;
  }

  .subsection {
    padding: 10px;
  }

  .textbox {
    font-size: 1.25em;
    text-decoration: none;
    padding: 0 0.5rem;
    width: 100%;
  }

  .vl {
    border-left: 3px solid #cdc1b7;
  }

  .hl {
    border-top: 3px solid #0d7680;
    width: 100px;
  }

  .social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.25rem 0.5rem
  }  
  .social-logo {
    padding-top: 1rem;
    padding-right:1rem;
    width: 36px;
    fill: gray;
  }
  .social-logo:hover{
    transition: 1s;
  }

  .github:hover {
    fill:#3d3846;
  }
  .linkedin:hover {
    fill:#2081c5;
  }

  .email:hover{
    fill:#e01b24;
  }



  @media only screen and (max-width: 768px) {
    .flexbox {
      padding: 0 10% 0 0;
    }
    .section {
      display: flex;
      flex-direction: column;
      padding: 0 5% 10% 5%;
    }
    .social{
      padding: 4% 0;
    }  
    .social-logo {
      padding: 1rem 0.75rem;
    }
  }





  a {
    text-decoration: none;
    color: #0d7680;
  }

  a:hover {
    text-decoration: none;
    color: #05363a;
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #519096; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d7680; 
}