html {
  scroll-behavior: smooth;
}

body {  
    background: #fff1e5;
    color: rgb(36, 31, 31);  
    font-size: 100%;  
    line-height: 1.5;  
    margin: 0 auto;  
    font-family: 'EB Garamond','Baskervville', Georgia, 'Times New Roman', Times, serif;  
    text-decoration: none;
  }
  
  .footnote {
    font-family: monospace;
    font-size: small;
    display: flex;  
    justify-content: center;  
    height: 25px;  
    bottom: 0; 
 }

  