<section class="border-white/10 border-b">
  <div class="bg-transparent duration-200 group hover:bg-orange">
    <a
      href="mailto:utkarsh1999tripathi@gmail.com"
      class="text-center items-center uppercase font-black w-full bg-orange text-white duration-200 focus:outline-disc focus:ring-0 hover:bg-white hover:text-black inline-flex justify-center lg:py-10 lg:text-3xl px-4 py-6 text-4xl"
      >Get in touch!</a
    >
  </div>
</section>
