<section class="border-black/10 border-b">
  <div class="bg-transparent duration-200 group">
    <a
      href="mailto:utkarsh1999tripathi@gmail.com"
      class="text-center items-center uppercase font-black w-full text-orange border border-4 border-orange duration-200 hover:bg-orange hover:border-orange hover:text-white inline-flex justify-center lg:py-4 lg:text-3xl text-4xl">
      Contact me!
    </a>
  </div>
</section>
