---
// Assets
import BgGrid from "../assets/BgGrid.astro";
---

<section class="border-white/20 border-b">
  <div class="bg-grid p-8 relative">
    <BgGrid />
    <!-- <Banner /> -->
    <h1
      class="text-white tracking-tighter font-black uppercase text-3xl md:text-5xl lg:text-8xl relative"
    >
      Hi! I am <span class="bg-orange">Utkarsh Tripathi</span>, <br> A<span class="typewriter"></span>. 
    </h1>
  </div>
    <div class="p-8">
    <p class="text-white font-black uppercase lg:text-2xl">
      As a data scientist and engineer I specialize in optimization, embedded machine learning, and decision intelligence.
      I build data pipelines and models that connect and optimize real-world systems from IoT telemetry to airfoil design with mathematical precision.
    </p>
  </div>
  
  <!-- <Testimonials /> -->
</section>
