---
import BgGrid from "../assets/BgGrid.astro";
---

<section class="border-white/20 border-b divide-y divide-white/20">
  <div class="p-8 relative">
    <BgGrid />
    <p
      class="relative text-black bg-white font-black uppercase tracking-tight p-4 lg:text-5xl text-xl"
    >
      Research and Notes
    </p>
  </div>
  <div class="p-8">
    <p class="text-white font-black  uppercase lg:text-xl">
      Ongoing investigations into optimization, embedded intelligence, and physics-inspired learning.
      My research connects mathematical rigor with real-world performance.
    </p>
  </div>
</section>
