@import "tailwindcss";

@theme {
  --font-sans: Geist, sans-serif;
  --font-mono: Geist mono, monospace;
  --color-black: #1e1e1e;
  --color-white: #e7e7d8;
  --color-eagle: #afac95;
  --color-orange: #ea4125;
  --color-gray: #9b9884;
  /* Gradient */
--background-image-grid:
  repeating-linear-gradient(
    to right,
    rgba(205, 205, 205, 0.2) 0px,
    rgba(205, 205, 205, 0.2) 1px,
    transparent 1px,
    transparent 6px
  ),
  repeating-linear-gradient(
    to bottom,
    rgba(205, 205, 205, 0.2) 0px,
    rgba(205, 205, 205, 0.2) 1px,
    transparent 1px,
    transparent 6px
  );

  /* Keyframes */
  --animate-marquee: marquee 20s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@keyframes typing {

  0% { content: ""; }
  2% { content: " "; }
  4%  { content: " d"; }
  6%  { content: " da"; }
  8%  { content: " dat"; }
  10% { content: " data"; }               /* pause briefly */
  12% { content: " data "; }
  14% { content: " data s"; }
  16% { content: " data sc"; }
  18% { content: " data sci"; }
  20% { content: " data scie"; }
  22% { content: " data scien"; }
  24% { content: " data scient"; }
  26% { content: " data scienti"; }
  28% { content: " data scientis"; }
  30% { content: " data scientist"; }  
  45% { content: " data scientist"; }     /* full word */
  46% { content: " data scientis"; }
  47% { content: " data scienti"; }
  48% { content: " data scient"; }
  49% { content: " data scien"; }
  50% { content: " data scie"; }
  51% { content: " data sci"; }
  52% { content: " data sc"; }
  53% { content: " data s"; }
  54% { content: " data "; }
  55% { content: " data"; }
  56% { content: " dat"; }
  57% { content: " da"; }
  58% { content: " d"; }
  59% { content: " "; }
  60% { content: ""; }                                      /* pause before next word */
  64% { content: "n"; }
  66% { content: "n e"; }
  68% { content: "n en"; }
  70% { content: "n eng"; }
  72% { content: "n engi"; }
  74% { content: "n engin"; }
  76% { content: "n engine"; }
  78% { content: "n enginee"; }
  80% { content: "n engineer"; }         /* full phrase */       /* pause */
  89% { content: "n engineer"; }         /* full phrase */       /* pause */
  90% { content: "n enginee"; }
  91% { content: "n engine"; }
  92% { content: "n engin"; }
  93% { content: "n engi"; }
  94% { content: "n eng"; }
  95% { content: "n en"; }
  96%{ content: "n e"; }
  97%{ content: "n "; }
  98%{ content: "n"; }
  99%{ content: ""; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 10s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    25% { content: "writer"; }
    50% { content: "reader"; }
    75% { content: "human"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}