---
import { getCollection } from 'astro:content';
import BgGrid from "../components/assets/BgGrid.astro";
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await getCollection('projects');
const categories = Array.from(
  new Set(
    posts
      .map((a) => a.data.category)
      .filter(Boolean)
      .map((c) => c.toLowerCase())
  )
);
---

<BaseLayout>
  <section>
    <div class="p-8 relative bg-grid border-black/20 border-b divide-y divide-black/20">
      <BgGrid />
      <h1 class="text-black tracking-tighter font-black uppercase text-3xl/7 md:text-5xl lg:text-8xl/60 relative">
        <span class="px-2 bg-orange">Work In Progress, Content coming soon</span>
      </h1>
    </div>

  </section>
</BaseLayout>
