---
import { getCollection } from 'astro:content';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Grid variant="small">
				{
					projects.map((project) => (
						<li>
							<Card project={project} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</Layout>
