<button class="pill"><slot /></button>

<style>
.pill {
  background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
  border: none;
  color: rgb(236, 230, 230);
  font-weight: bold;
  font-size: larger;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
</style>
