<div id="hero" class="page">
        <div class="section">
            <div class="title">
                {{.Params.firstname }}<br/>{{.Params.lastname }}
            </div>
                <div  class="section-title">
                 {{.Params.jobtitle}}
                </div>
                <div class="flexbox">
                    <div class="textbox">
                        {{.Params.intro}}
                    </div>
                    {{- partial "socials.html" . -}}
                </div>
        </div>
    </div> 
</div>
