---
import BgGrid from "../assets/BgGrid.astro";
---

<footer class="border-white/20 border-b bg-accent-500 bg-grid">
  <div class="mx-auto p-8 items-start justify-between w-full">
    <div class="text-white text-center items-center mx-auto">
      <p class="font-normal text-sm"><b>Tripathi</b></p>
    </div>
  </div>
</footer>
